<html>
<head>
     <meta content="text/html;charset=utf-8" http-equiv="Content-type">
	 <meta content="utf-8" http-equiv="encoding">
	<title>excel sheet</title>
	<link rel="stylesheet" type="text/css" href="excel.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Arbutus Slab' rel='stylesheet'>

<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<script
  src="http://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript">
    function display(){
    var capture =document.forms["input"]["patient_name0"].value + '<br>';
    capture +=document.forms["input"]["patient_name0"].value + '<br>';
    capture +=document.forms["input"]["contact_no0"].value + '<br>';
    capture +=document.forms["input"]["adrr0"].value + '<br>';
    capture +=document.forms["input"]["doctor_name0"].value + '<br>';
    capture +=document.forms["input"]["token_no0"].value + '<br>';
    capture +=document.forms["input"]["type10"].value + '<br>';
    document.getElementById("myname").innerHTML = capture;
    }
</script>
</head>
<body>
 <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#"><i class="fas fa-medkit"></i> ALL IN ONE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">About Us <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Contact <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>


<h1 style="margin-top: 70px"><strong>UPLOAD THE DATA HERE</strong></h1>
<form method="post">
<div class="container"style="margin-right: 20px">
<div class="row">
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">PATIENT'S NAME</div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">CONTACT NUMBER</div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">ADDRESS</div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">DOCTOR'S NAME</div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">TOKEN NUMBER</div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">CHECKED OUT</div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">BED TYPE1</div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">BED TYPE2</div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">BED TYPE3</div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">BED TYPE4</div>
</div>

<div class="row">
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input value="{{ records.0.patient_name }}" name="patient_name0" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input value="{{ records.0.contact_no }}" name="contact_no0" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input value="{{ records.0.Address }}" name="addr0" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input value="{{ records.0.Doctor_attending }}" name="doctor_name0" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input value="{{ records.0.Appointment_no }}" name="token_no0" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input value="{{ records.0.is_checked_out }}" name="checked_out0" type="text" placeholder="Y/N" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input value="{{ records.0.patient_name }}" name="type10" type="text" placeholder="Y/N" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input value="{{ records.0.patient_name }}" name="type20" type="text" placeholder="Y/N" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input value="{{ records.0.patient_name }}" name="type30" type="text" placeholder="Y/N" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input value="{{ records.0.patient_name }}" name="type40" type="text" placeholder="Y/N" ></div>
</div>

<div class="row">
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="patient_name1" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="contact_no1"type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="addr1" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="doctor_name1" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="token_no1" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="checked_out1" type="text" placeholder="Y/N" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="type11" type="text" placeholder="Y/N" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="type21" type="text" placeholder="Y/N" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="type31" type="text" placeholder="Y/N" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="type41" type="text" placeholder="Y/N" ></div>
</div>

<div class="row">
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="patient_name2" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="contact_no2" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="addr2" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="doctor_name2" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="token_no2" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="checked_out2" type="text" placeholder="Y/N" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="type12" type="text" placeholder="Y/N" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="type22" type="text" placeholder="Y/N" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="type32" type="text" placeholder="Y/N" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="type42" type="text" placeholder="Y/N" ></div>
</div>

<div class="row">
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="patient_name3" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="contact_no3" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="addr3" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="doctor_name3" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="token_no3" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="checked_out3" type="text" placeholder="Y/N" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="type13" type="text" placeholder="Y/N" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="type23" type="text" placeholder="Y/N" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="type33" type="text" placeholder="Y/N" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="type43" type="text" placeholder="Y/N" ></div>
</div>

<div class="row">
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="patient_name4" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="contact_no4" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="addr4" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="doctor_name4" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="token_no4" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="checked_out4" type="text" placeholder="Y/N" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="type14" type="text" placeholder="Y/N" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="type24" type="text" placeholder="Y/N" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="type34" type="text" placeholder="Y/N" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="type44" type="text" placeholder="Y/N" ></div>
</div>

<div class="row">
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="patient_name5" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="contact_no5" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="addr5" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="doctor_name5" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="token_no5" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="checked_out5" type="text" placeholder="Y/N" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="type15" type="text" placeholder="Y/N" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="type25" type="text" placeholder="Y/N" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="type35" type="text" placeholder="Y/N" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="type45" type="text" placeholder="Y/N" ></div>
</div>

<div class="row">
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="patient_name6" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="contact_no6" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="addr6" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="doctor_name6" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="token_no6" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="checked_out6" type="text" placeholder="Y/N" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="type16" type="text" placeholder="Y/N" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="type26" type="text" placeholder="Y/N" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="type36" type="text" placeholder="Y/N" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="type46" type="text" placeholder="Y/N" ></div>
</div>

<div class="row">
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="patient_name7" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="contact_no7" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="addr7" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="doctor_name7" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="token_no7" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="checked_out7" type="text" placeholder="Y/N" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="type17" type="text" placeholder="Y/N" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="type27" type="text" placeholder="Y/N" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="type37" type="text" placeholder="Y/N" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="type47" type="text" placeholder="Y/N" ></div>
</div>

<div class="row">
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="patient_name8" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="contact_no8" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="addr8" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="doctor_name8" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="token_no8" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="checked_out8" type="text" placeholder="Y/N" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="type18" type="text" placeholder="Y/N" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="type28" type="text" placeholder="Y/N" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="type38" type="text" placeholder="Y/N" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="type48" type="text" placeholder="Y/N" ></div>
</div>

<div class="row">
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="patient_name9" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="contact_no9" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="addr9" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="doctor_name9" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="token_no9" type="text" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="checked_out9" type="text" placeholder="Y/N" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="type19" type="text" placeholder="Y/N" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="type29" type="text" placeholder="Y/N" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="type39" type="text" placeholder="Y/N" ></div>
<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1" style="padding: 0px"><input name="type49" type="text" placeholder="Y/N" ></div>
</div>
</div>
    <button onclick="display()" type="submit">Submit</button>
</form>
<?php
    if(isset($_POST['patient_name0'])){
        echo $_POST['patient_name0']
    }
?>
</body>
</html>
