#special{
	margin-top: 0px;
}
.container{
	margin-top: 20px;
	margin-left: 100px;
}
.col-xl-1{
	border: 1px solid black;
}
/*.col-xl-6{
	border: 1px solid black;
}*/
input{
	width: 100%;
}
.row{
	width: 100%;
}

h1{
	text-align: center;
	font-family: 'Arbutus Slab';
}

#style{
	margin-left:10px;
}
button{
	margin-top: 20px;
}

#btn{
	margin-top: 30px;
}

#btnn{
	margin-top: 30px;
}